name: Container Image CI

on:
  push:
    branches:
      - master
  release:
    types:
      - published

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set image tags
        id: vars
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            TAG="${GITHUB_REF#refs/tags/}"
            echo "GITHUB_TAG=ghcr.io/${GITHUB_REPOSITORY}:${TAG}" >> $GITHUB_ENV
            echo "DOCKERHUB_TAG=joyrex2001/kubedock:${TAG}" >> $GITHUB_ENV
          else
            echo "GITHUB_TAG=ghcr.io/${GITHUB_REPOSITORY}:latest" >> $GITHUB_ENV
            echo "DOCKERHUB_TAG=joyrex2001/kubedock:latest" >> $GITHUB_ENV
          fi

      - name: Build Container image
        run: |
          docker build . -t ${{ env.GITHUB_TAG }} -t ${{ env.DOCKERHUB_TAG }}

      - name: Push Container image to GitHub Container Registry
        run: |
          docker push ${{ env.GITHUB_TAG }}

      - name: Push Container image to Docker Hub
        run: |
          docker push ${{ env.DOCKERHUB_TAG }}