name: release
on:
  release:
    types:
      - published

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GOLANG_VERSION }}
      - name: Install dependencies
        run: make deps
      - name: Cross compile
        run: make gox
      - name: Archive builds
        run: |
          cd dist
          for r in *; do
            t=$(echo $r | sed 's/.exe$//')
            e="kubedock"
            [[ $r == *.exe ]] && e="kubedock.exe"
            mv $r $e
            tar czf $t.tar.gz $e
            rm $e
          done
      - name: Upload release assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run:
          gh release upload ${GITHUB_REF#refs/tags/} dist/*.tar.gz
